body {
    background-image: url("./images/backg.jpg");
    background-size: cover;
    position: relative;
    font-style: italic;
}

.jumbotron, .tables {
    background-color: rgba(222, 220, 81, 0.855);
}

.panel {
    background-color: rgba(231, 65, 43, 0.855);
}

.form-group {
    color: white;
}